{% extends "layout.html" %}

{% block page_content %}

<table class="table table-hover table-responsive orderByDateTable">
    <thead order_col_no="0">
    {% for key in keys %}
    <th>{{key}}</th>
    {% endfor %}
    </thead>
    <tbody>
    {% for record in records %}

    <tr>
        {% for key in keys %}
        {% if 'created' in key or 'modified' in key %}
        <td>{{moment(getattr(record,key)).format('LLL')}}</td>
        {% else %}
        <td>{{getattr(record,key)}}</td>
        {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}