<nav>
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item"><a href="/">Home</a></li>
        {% if not current_user.is_authenticated %}
        <li class="list-group-item"><a href="{{url_for('auth_bp.login')}}">Login</a></li>
        <li class="list-group-item"><a href="{{url_for('auth_bp.register')}}">Register</a></li>
        {% else %}
        <li class="list-group-item"><a href="{{url_for('auth_bp.logout')}}">Logout</a></li>
        {% endif %}
        <li class="list-group-item"><a href="/products/new">New Product</a></li>
        <li class="list-group-item"><a href="/products">Products</a></li>
        <li class="list-group-item"><a href="{{url_for('main_bp.new_category')}}">New Category</a></li>
        <li class="list-group-item"><a href="{{url_for('main_bp.categories')}}">Categories</a></li>
    </ul>
</nav>